<h1>Listing contents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Nav</th>
      <th>Stick</th>
      <th>Stick num</th>
      <th>Status</th>
      <th>Pics</th>
      <th>Dispics</th>
      <th>Cattas</th>
      <th>Manager</th>
      <th>Content classify</th>
      <th>Content seo</th>
      <th>Author</th>
      <th>Source url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.name %></td>
        <td><%= content.content %></td>
        <td><%= content.nav_id %></td>
        <td><%= content.stick %></td>
        <td><%= content.stick_num %></td>
        <td><%= content.status %></td>
        <td><%= content.pics %></td>
        <td><%= content.dispics %></td>
        <td><%= content.cattas %></td>
        <td><%= content.manager_id %></td>
        <td><%= content.content_classify_id %></td>
        <td><%= content.content_seo %></td>
        <td><%= content.author %></td>
        <td><%= content.source_url %></td>
        <td><%= link_to 'Show', content %></td>
        <td><%= link_to 'Edit', edit_content_path(content) %></td>
        <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_content_path %>
