<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @content.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @content.content %>
</p>

<p>
  <strong>Nav:</strong>
  <%= @content.nav_id %>
</p>

<p>
  <strong>Stick:</strong>
  <%= @content.stick %>
</p>

<p>
  <strong>Stick num:</strong>
  <%= @content.stick_num %>
</p>

<p>
  <strong>Status:</strong>
  <%= @content.status %>
</p>

<p>
  <strong>Pics:</strong>
  <%= @content.pics %>
</p>

<p>
  <strong>Dispics:</strong>
  <%= @content.dispics %>
</p>

<p>
  <strong>Cattas:</strong>
  <%= @content.cattas %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @content.manager_id %>
</p>

<p>
  <strong>Content classify:</strong>
  <%= @content.content_classify_id %>
</p>

<p>
  <strong>Content seo:</strong>
  <%= @content.content_seo %>
</p>

<p>
  <strong>Author:</strong>
  <%= @content.author %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @content.source_url %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
