<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @suggest.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @suggest.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @suggest.email %>
</p>

<p>
  <strong>Content:</strong>
  <%= @suggest.content %>
</p>
<%= link_to 'Back', suggests_path %>
