<div class="container next-banner">
    <%= image_tag('front/banner_03.jpg',width:'1000')%>
</div>
<div class="container bs-container">
    <div class="col-xs-3 col-xs-lz">
        <%= render 'left'%>
    </div>
    <div class="col-xs-9 col-xs-rlz">
        <div class="page-header header-text">
            <div class="pull-right">
                <a class="btn btn-success address-addbtn" href="<%= center_address_new_path %>">
                    <i class="glyphicon glyphicon-plus"></i> 添加新地址
                </a>
            </div>
            <h4>服务地址管理</h4>
        </div>
        <table class="table table-striped">
            <colgroup>
                <col class="col-xs-1">
                <col class="col-xs-2">
                <col class="col-xs-4">
                <col class="col-xs-1">
            </colgroup>
            <thead>
            <tr>
                <th>姓名</th>
                <th>电话</th>
                <th>服务地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% if @addresses %>
                <% @addresses.each do |address|%>
                    <tr>
                        <td><%= address.contacts %></td>
                        <td><%= address.mobile_phone %></td>
                        <td>
                            <%= find_ad_id(address.province)%> 
                            <%= find_ad_id(address.city)%> 
                            <%= find_ad_id(address.county)%> 
                            <%= address.detail%>
                        </td>
                        <td>
                            <a class="btn btn-default opt-btn" href="#" title="编辑">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>&nbsp;&nbsp;
                            <a class="btn btn-default opt-btn" href="#" title="删除">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                <% end %>
            <% elsif %>
                <tr>
                    <td colspan="4">还没有服务地址，赶快添加吧！</td>
                </tr>
            <% end %>
            
            <!-- <tr>
                <td>李四</td>
                <td>13801918047</td>
                <td>陕西 西安市 高新区
                    茶张路一号省信息化中心</td>
                <td>
                    <a class="btn btn-default opt-btn" href="#" title="编辑">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>&nbsp;&nbsp;
                    <a class="btn btn-default opt-btn" href="#" title="删除">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>王五</td>
                <td>13612458796</td>
                <td>陕西 西安市 高新区
                    茶张路一号省信息化中心</td>
                <td>
                    <a class="btn btn-default opt-btn" href="#" title="编辑">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>&nbsp;&nbsp;
                    <a class="btn btn-default opt-btn" href="#" title="删除">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr> -->
            </tbody>
        </table>
    </div>
</div> <!-- /container -->