<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <title>保洁服务系统 | 管理员登录</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="<%= stylesheet_path 'bootstrap.min' %>" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="<%= stylesheet_path 'font-awesome' %>" rel="stylesheet" type="text/css" />
        <!-- Theme style  -->
        <link href="<%= stylesheet_path 'AdminLTE' %>" rel="stylesheet" type="text/css" />

        <link href="<%= stylesheet_path 'toastr.min' %>" rel="stylesheet" type="text/css" />
        <!-- jQuery 2.0.2 --> 
        <script src="<%= javascript_path 'jquery' %>" type="text/javascript"></script>   
        <!-- Bootstrap    -->
        <script src="<%= javascript_path 'bootstrap.min' %>" type="text/javascript"></script>

        <script src="<%= javascript_path 'toastr.min' %>" type="text/javascript"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="bg-black">

        <div class="form-box" id="login-box">
            <div class="header">用户登录</div>
            <%= form_tag(manager_login_post_path) do %>
                <div class="body bg-gray">
                    <div class="form-group">
                        <!-- <input type="text" name="userid" class="form-control" placeholder="User ID"/> -->
                        <%= text_field_tag('name',nil,class:"form-control",placeholder:"用户名")%>
                    </div>
                    <div class="form-group">
                        <%= password_field_tag('password',nil,class:"form-control",placeholder:"密码")%>
                    </div>          
                    <div class="form-group">
                        <input type="checkbox" name="remember_me"/> 记住我
                    </div>
                </div>
                <div class="footer">                                                                
                    <%= button_to "登 录", nil,class:'btn bg-olive btn-block' %>
                    <p></p>
                </div>
            <% end %>

            <div class="margin text-center">
                <span>使用其他帐号登录</span>
                <br/>
                <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
                <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
                <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

            </div>
            <input type="hidden" id="errorMessage" value="<%= flash[:alert]%>">
        </div>
        <script type="text/javascript">
            $(function(){
                var errorMsg = $("#errorMessage").val();
                if(errorMsg !== ''){
                    toastr.error(errorMsg)
                }
            });
        </script>
    </body>
</html>