<p id="notice"><%= notice %></p>

<p>
  <strong>Appoint date:</strong>
  <%= @order.appoint_date %>
</p>

<p>
  <strong>Appoint time:</strong>
  <%= @order.appoint_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>P deduct:</strong>
  <%= @order.p_deduct %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address_id %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @order.intro %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
