<p id="notice"><%= notice %></p>

<p>
  <strong>Contacts:</strong>
  <%= @address.contacts %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @address.mobile_phone %>
</p>

<p>
  <strong>Province:</strong>
  <%= @address.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @address.county %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @address.detail %>
</p>

<p>
  <strong>User:</strong>
  <%= @address.user_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
