<%= form_for @product,html:{class:'form-horizontal',id:'productForm',role:'form',multipart: true} do |f| %>
        <% if @product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">名称</label>
          <div class="col-sm-8">
            <%= f.text_field :name,class:"form-control",placeholder:"名称" %>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">收费标准</label>
          <div class="col-sm-8">
            <%= f.text_field :feeScale,class:"form-control",placeholder:'收费标准' %>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">收费方式</label>
          <div class="col-sm-8">
            <%= f.select(:charge_type,nil,{},class:'form-control') do %>
              <% @chargeTypes.each do |ct| -%>
                <% if @product.charge_type == ct.value %>
                  <%= content_tag(:option, ct.name, value: ct.value,selected: 'selected') %>
                <% else %>
                  <%= content_tag(:option, ct.name, value: ct.value) %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">产品状态</label>
          <div class="col-sm-8">
            <%= f.select(:status,nil,{},class:'form-control') do %>
              <% @proStatues.each do |ps| -%>
                <% if @product.status == ps.value %>
                  <%= content_tag(:option, ps.name, value: ps.value,selected: 'selected') %>
                <% else %>
                  <%= content_tag(:option, ps.name, value: ps.value) %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">产品图片</label>
          <div class="col-sm-8">
            <%= f.hidden_field :picture %>
            <div id="fileList" class="uploader-list"></div>
            <div class="row">
              <div class="col-sm-2">
                <!--dom结构部分-->
                <div id="uploader-demo" class="wu-example">
                    <div id="filePicker">选择图片</div>
                </div>
              </div>
              <div class="col-sm-2">
                <button id="start_upload" type="button" style="float:right" class="btn btn-default">开始上传</button>
              </div>
            </div>
            

          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">描述</label>
          <div class="col-sm-8">
            <%= f.text_area :intro,class:"form-control",row:3,placeholder:'描述' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">

          <%= f.submit '保 存',class:'btn btn-primary'%>
          </div>
        </div>
      <% end %>
      <input type="hidden" id="uploader_swf_path" value="<%= asset_path('Uploader.swf')%>">
<script src="<%= javascript_path('uploader')%>" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    $("#productForm").bootstrapValidator({
      message: 'This value is not valid',
      feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },

        fields: {
          'product[name]':{
            validators: {
                    notEmpty: {}
                }
          },
          'product[feeScale]':{
            validators:{
              notEmpty:{}
            }
          }
        }
    });
  })
</script>