<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        产品列表
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admins/index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">产品列表</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box">
        <div class="box-header">
            <h3 class="box-title">产品列表</h3>
            <div class="box-tools">
                <div class="pull-right">
                  <button id="addProduct" type="button" class="btn btn-success" data-toggle='tooltip' data-placement="top" title="产品列表"><i class="fa fa-plus"></i> 产品列表</button>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="input-group col-lg-3" style="margin-bottom:20px;">
                <input type="text" name="user_search" id="user_search" class="form-control input-sm" placeholder="查询" value="<%= @search_txt%>">
                <div class="input-group-btn">
                    <button id="user_search_btn" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
             </div>
          <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>名称</th>
                      <th>产品图</th>
                      <th>收费标准</th>
                      <th>收费方式</th>
                      <th>产品状态</th>
                      <th>上架时间</th>
                      <th>操作</th>
                  </tr>
              </thead>
                <tbody>
                  <% @products.each do |product|  %>
                    <tr>
                      <td><%= product.id %></td>
                      <td><%= product.name %></td>
                      <td><%= product.picture %></td>
                      <td><%= product.feeScale %></td>
                      <td><%= chargeType_format(product.charge_type) %></td>
                      <td><%= status_format(product.status,"上架",'下架') %></td>
                      <td><%= date_format(product.created_at) %></td>
                      <td>
                        <%= link_to 'Show', product %>
                        <a href="<%= edit_product_path(product)%>" class="btn btn-info btn-xs" data-toggle='tooltip' data-placement="top" title="修改"><i class="fa fa-pencil-square-o"></i></a>
                          <%= link_to(product, method: :delete,data:{confirm:"您确认要删除吗？"},class:'btn btn-warning btn-xs',:"data-toggle" => 'tooltip',:"data-placement" => 'top',title:"删除") do %>
                            <i class="fa fa-trash-o"></i>
                          <% end %>
                      </td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
            <div class="box-footer clearfix">
              <div class="pull-left" style="line-height:70px;">
                <%= page_entries_info @products %>
              </div>
              <div class="pull-right">
                <%= paginate @products %>
              </div>
              
            </div>
        </div><!-- /.box-body -->
    </div>
    <input type="hidden" id="user_message" value="<%= notice %>">
    <input type="hidden" id="user_alert" value="<%= alert %>">
    <script type="text/javascript">
      $(function(){
            var message = $("#user_message").val();
            if(message !== ''){
                toastr.success(message);
                $("#user_message").val("");
            }
            var alertMsg = $("#user_alert").val();
            if(alertMsg !== ''){
                toastr.error(alertMsg);
                $("#user_alert").val("");
            }
        $("#addProduct").click(function(){
          location.href = '<%= new_product_path%>';
        })
        $("#user_search_btn").click(function(){
          var search_txt = $("#user_search").val();
          location.href = "<%= users_path%>?search_txt=" +search_txt;
        })

      })
    </script>
</section><!-- /.content -->
