<div class="container" style="padding: 0 70px;text-align: center;">
<!--         <img src="images/banner_03.jpg" width="1000"> -->
        <%= image_tag('front/banner_03.jpg',width:'1000')%>
    </div>
    <div class="container" style="padding: 0 70px;">
        <div class="col-xs-4"><span class="lab-txt">服务项目</span></div>
        <div class="col-xs-8">
            <div class="row pull-right filtrate">
                <div class="col-xs-2">
                    <% if params[:pcid] %>
                        <%= link_to '全部',product_list_path,class:'btn btn-warning'%>
                    <% else %>
                        <%= link_to '全部',product_list_path,class:'btn btn-warning pitch'%>
                    <% end %>
                </div>
                <% @pcs.each do |pc|%>
                    <div class="col-xs-2">
                        <% if params[:pcid].to_i == pc.id %>
                            <%= link_to pc.name,product_list_s_path(pc),class:'btn btn-warning pitch'%>
                        <% else %>
                            <%= link_to pc.name,product_list_s_path(pc),class:'btn btn-warning'%>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <!--top end-->
    <div class="row" style="background-color: #f1f1f1;margin-right: 0; margin-left: 0;">
        <div class="container" style="padding: 0 70px;margin-top: 10px;">
            <% @products.each do |product|  %>
            <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                <img src="<%= product.picture%>">
                    <div class="caption">
                        <h4><%= product.name %></h4>
                        <p><%= product.intro%></p>
                        <p class="btnp"><span>￥<%= product.feeScale%><%= product.unit%></span>
                            <%= link_to '立即预约',cart_add_path(product),class:'btn btn-warning'%>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>