<div class="container" style="padding: 0 70px;text-align: center;">
<!--         <img src="images/banner_03.jpg" width="1000"> -->
        <%= image_tag('front/banner_03.jpg',width:'1000')%>
    </div>
    <div class="container" style="padding: 0 70px;">
        <div class="col-md-4"><span class="lab-txt">服务项目</span></div>
        <div class="col-md-8">
            <div class="row pull-right filtrate">
                <div class="col-md-2"><a href="#" class="btn btn-warning pitch">全部</a></div>
                <div class="col-md-2"><a href="#" class="btn btn-warning">保洁</a></div>
                <div class="col-md-2"><a href="#" class="btn btn-warning">清洗</a></div>
                <div class="col-md-2"><a href="#" class="btn btn-warning">粉刷</a></div>
                <div class="col-md-2"><a href="#" class="btn btn-warning">翻新</a></div>
                <div class="col-md-2"><a href="#" class="btn btn-warning">外墙</a></div>
            </div>
        </div>
    </div>
    <!--top end-->
    <div class="row" style="background-color: #f1f1f1;margin-right: 0; margin-left: 0;">
        <div class="container" style="padding: 0 70px;margin-top: 10px;">
            <% @products.each do |product|  %>
            <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                <img src="<%= product.picture%>">
                    <div class="caption">
                        <h4><%= product.name %></h4>
                        <p><%= product.intro%></p>
                        <p class="btnp"><span>￥<%= product.feeScale%></span>
                            <%= link_to '立即预约',carts_list_path(product),class:'btn btn-warning'%>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                    <%= image_tag('front/pic1.jpg')%>
                    <div class="caption">
                        <h4>室外保洁</h4>
                        <p>专业培训、标准化服务</p>
                        <p><span>￥25元/小时</span><a href="#" class="btn btn-warning" role="button">立即预约</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                    <%= image_tag('front/pic1.jpg')%>
                    <div class="caption">
                        <h4>新家开荒</h4>
                        <p>专业培训、标准化服务</p>
                        <p><span>￥25元/小时</span><a href="#" class="btn btn-warning" role="button">立即预约</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                    <%= image_tag('front/pic1.jpg')%>
                    <div class="caption">
                        <h4>保洁</h4>
                        <p>专业培训、标准化服务</p>
                        <p><span>￥25元/小时</span><a href="#" class="btn btn-warning" role="button">立即预约</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                    <%= image_tag('front/pic1.jpg')%>
                    <div class="caption">
                        <h4>地板打蜡</h4>
                        <p>专业培训、标准化服务</p>
                        <p><span>￥25元/小时</span><a href="#" class="btn btn-warning" role="button">立即预约</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>