<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= @title %> | XX保洁</title>
    <link rel="stylesheet" type="text/css" href="<%= stylesheet_path 'bootstrap.min' %>">
    <%= stylesheet_link_tag 'front', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
    <!--container start-->
    <div class="container1">
    <!--head start-->
    <!-- <div class="head">
        <div class="headcon">
           <div class="headcon_l">您好，欢迎光临XX网站！</div>
           <div class="headcon_r"><a href="">登陆</a> | <a href="">注册</a></div>
        </div>
    </div> -->
    <!--head end-->
    <!--top start--> 
    <div class="top">
         <div class="topcon">
             <div class="topcon_l">
               <a href="/">
                 <%= image_tag('front/logo1.png',width:'105',height:'104')%>
               </a>
             </div>
             <div class="topcon_r">
                <div class="dh">
                    <%= image_tag('front/dh.jpg',width:'251',height:'30')%>
                </div>
                <div class="clear"></div>
                <div class="menu">
                    <ul> 
                        <li><%= link_to '网站首页',:root %></li>
                        <li><a href="about.html">快速下单</a></li>
                        <li><%= link_to '服务项目',product_list_path %></li>
                        <li><a href="anli.html">客户案例</a></li>
                        <li><a href="lxwm.html">联系我们</a></li>
                    </ul>
                </div>
             </div>
         </div> 
    </div>
    <!--top end-->
    <!--banner start-->
    <div class="logreg-banner">
       <div class="bannercon">
           <div class="row">
            <div class="col-lg-8" style="width:60%;">
                <div class="col-lg-3">
                    <div class="bannercon_l" style="height:100px;">
                       <h1 style="text-align:left;">最值得信赖的</h1>
                   </div>
                </div>
                <div class="col-lg-offset-5 col-lg-5" style="height:100px;">
                    <div class="bannercon_l">
                       <h1 style="text-align:left;">保洁服务平台</h1>
                   </div>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top:110px;">
                <div class="panel panel-default">
                  <div class="panel-heading" style="background-color:#fff;padding:15px 15px;">
                  <h4><%= @title %></h4>
                  </div>
                  <div class="panel-body">
                    <%= yield %>
                  </div>
                </div>
            </div>
           </div>
       </div>
    </div>
    <!--banner end-->
    <!--footer start-->
    <div class="footer">
        <div class="footercon">
             <div class="footer_links"><a href="">网站首页</a>　|　<a href="">快速下单</a>　|　<a href="">服务项目</a>　|　<a href="">客户案例</a>　|　<a href="#">联系我们</a>
            </div>
            <p>Copyright@2014 XXX 版权所有 陕ICP备123456789号</p>
        </div>
    </div>
    <!--footer end-->
    </div>
    <!--container end-->    
</body>
</html>